<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
</head>
<body>
<div id="app" class="common-layout">
    <el-container>
        <el-header style="height: 10px;">
            <p v-model="username">欢迎，{{username}}</p>
        </el-header>
        <el-main>
            <h2>借阅信息</h2>
            <el-input v-model="search" placeholder="可以通过名字类别" style="width: 200px;"></el-input>
            <el-button type="primary" @click="searchJournal">搜索</el-button>
            <el-button type="primary" @click="outlogin" style="margin-left: 90%;">退出查看</el-button>
            <br>
            <el-table :data="brands" style="width: 100%">
                <el-table-column prop="jPATH" label="图片">
                    <template #default="scope">
                        <img :src="scope.row.jPATH" alt="Journal Image" style="max-width: 100px; max-height: 100px;">
                    </template>
                </el-table-column>
                <el-table-column prop="jNO" label="期刊编号"></el-table-column>
                <el-table-column prop="jNAME" label="期刊名称"></el-table-column>
                <el-table-column prop="jTYPE" label="出版周期"></el-table-column>
                <el-table-column prop="jCATEGORYNAME" label="期刊类型"></el-table-column>
                <el-table-column prop="jJUAN" label="期刊卷号"></el-table-column>
                <el-table-column prop="jQI" label="期刊期号"></el-table-column>
                <el-table-column prop="jPLACE" label="馆藏地"></el-table-column>
                <el-table-column prop="bdate" label="借阅日期"></el-table-column>
                <el-table-column prop="accept" label="审核状态"></el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>
</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp } = Vue;
   const app = createApp({
        data() {
            return {
                brands: [],
                username: '',
            }
        },
        methods: {
            outlogin() {
                window.location.href = "Usermain.html?username="+this.username;
            },
            searchJournal() {
            axios.get('http://localhost:8080/mvn_base/jousearchServlet?username='+encodeURIComponent(this.username)+'&search='+encodeURIComponent(this.search))
                    .then(response => {
                        console.log(response.data);
                        this.brands = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
           },
        },
        mounted() {
            this.username = new URLSearchParams(window.location.search).get('username');
            axios.get('http://localhost:8080/mvn_base/usersearchbServlet?username='+encodeURIComponent(this.username))
                    .then(response => {
                        console.log(response.data);
                        this.brands = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
         }
      })
      app.use(ElementPlus)
      app.mount('#app')
</script>
</html>